<% if request.path_info == "/" %>
  <h4>Top Rated Quotes</h4>
<% elsif /^\/unrated/ =~ request.path_info %>
  <h4>My Unrated Quotes</h4>
  <small>This picks up unrated quotes for channels you've submitted a quote in currently</small>
<% elsif /^\/search/ =~ request.path_info %>
  <% if params[:q].nil? %>
    <h4>You didn't specify anything to search for</h4>
  <% else %>
    <h4>Search Results for <%= params[:q] %></h4>
  <% end %>
<% else %>
  <h4>
    Top Rated Quotes for 
    <%= @quotes.first.channel if /^\/channels/ =~ request.path_info %>
    <%= @quotes.first.nick if /^\/users/ =~ request.path_info %>
  </h4>
<% end %>
<% unless @quotes.nil? || @quotes.count == 0 %>
  <form action="/rate_quotes" method="POST">
  <% @quotes.each do |q| %>
    <%= partial :quote, :locals => {quote: q } %>
  <% end %>
  <button class="btn btn-primary">Rate!</button>
  <input type="hidden" name="return_to" value="<%= request.fullpath %>">
  </form>
  <%= will_paginate @quotes %>
<% end %>
